* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header.parallax {
    position: relative;
    background-image: url('i.png'), url('m.png'), url('g.png'), url('img.png');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content {
    z-index: 2;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: 1.5rem;
}

section {
    padding: 80px 20px;
    text-align: center;
    background: #f4f4f4;
   
}

footer {
    padding: 20px;
    background: #333;
    color: white;
    text-align: center;
}

footer p {
    font-size: 1rem;
}
